<html>

<head>
    <title>Movies</title>
</head>

<body>
    <h1>Movies List</h1>
    <div id="movies">
        <div class="movies">
            <p>@ViewBag.Movies</p>
            <p>@ViewBag.Desc</p>
            <p>@ViewBag.Director</p>
            <p>
            <ul>
                @foreach(var item in  ViewBag.Actors){
                    <li>@item</li>
                }
            </ul>
            </p>
        </div>
    </div>
</body>

</html>