@model Movie
<html>

<head>
    <title>Movies</title>
</head>

<body>
    <h1>Movies List</h1> 
    <div id="movies">
        <div class="movies">
            <p>@Model.Title</p>
            <p>@Model.Desc</p>
            <p>@Model.Director</p>
            <p>
            <ul>
                @foreach(var player in  Model.Players){
                    <li>@player</li>
                }
            </ul>
            </p>
        </div> 
    </div>
</body>

</html>