@model List<Movie>

<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>Movies List</h1>
    <div id="movies">
        @foreach(var movie in Model) 
        {
            <div class="movies">
                <p>@movie.Title</p>  
                <p>@movie.Desc</p>   
                <p>@movie.Director</p> 
                <ul>
                    @foreach(var player in movie.Players)  
                    {
                        <li>@player</li>
                    }
                </ul>
            </div> 
        }
    </div>
</body>
</html>
